<!--author:qiuzhuang-->
<!--createtime:2020/7/8-->
<!--updatetime:2020/7/12-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车型识别</title>
</head>
<body>
<section class="common-sec main-welcome" id="about-us">
    <h3 class="text-center">
		车型识别
	</h3>
	<div class="element-top">
		<img src="E:/carDefineCode/fajixianzonghewozuodui/vehicleRecognition/img/car1.jpg" alt="" />
	</div>
	<div class="element-bottom">
		<img src="E:/carDefineCode/fajixianzonghewozuodui/vehicleRecognition/img/car2.jpg" alt="" />
	</div>
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-6 col-md-8">
				<div class="welcome-img wow fadeIn">
					<img alt="Car" src="data:;base64,{{ picture_url }}">
                    <form action="selectPicture" method="get">
				       <input type="submit" value="选择图片">
				    </form>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="welcome-content">
					<h2 class="h2-title">识别结果</h2>
					<p>汽车型号：</p>
					<p>{{ message }}</p>
                    <p>{{ color }}</p>
                    <form action="defineCar" method="get">
					    <input type="submit" value="识别图片">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

</body>
</html>